<li class="media comment-block">
  <%= image_tag avatar_url(comment.user), width: "64px", class: "img-responsive pull-left" %>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.name %></h4>
    <div class="media">
      <i><%= comment.body %></i>
    </div>
    <% if current_user && (current_user == comment.user or current_user.admin?) %>
      <%= link_to "Удалить", [comment.product, comment],
                                         method: :delete,
                                         data: { confirm: "Вы уверены?" },
                                         class: "pull-right btn btn-danger btn-xs" %>
    <% end %>
  </div>
</li>
