<p>
  <strong>Статус выполнения:</strong>
  <%= @order.status.humanize %>
  <%= link_to 'сменить', edit_admin_order_path(@order) %>
</p>

<p>
  <strong>Пользователь:</strong>
  <%= @order.user.name %>
</p>

<%= render "admin/orders/list_line_items" %>
