<%= form_for(@user, html: { class: "form-horizontal" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade in" role=alert>
        <button type=button class=close data-dismiss=alert aria-label=Close>
          <span aria-hidden=true>&times;</span>
        </button>
        <%= message %>
      </div>
      <% end %>

    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Имя", class: "control-label col-xs-3" %>
    <div class="col-xs-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "control-label col-xs-3" %>
    <div class="col-xs-9">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, "Телефон", class: "control-label col-xs-3" %>
    <div class="col-xs-9">
      <%= f.number_field :phone, class: "form-control", placeholder: "+38(0**)*******" %>
    </div>
  </div>
  <!-- <div class="form-group">
    <%= f.label :image_url, "Аватар", class: "control-label col-xs-3" %>
    <div class="col-xs-9">
      <%= f.text_field :image_url, class: "form-control" %>
    </div>
  </div> -->
  <div class="form-group">
    <%= f.label :password, "Пароль", class: "control-label col-xs-3" %>
    <div class="col-xs-9">
      <%= f.password_field :password, class: "form-control", placeholder: @password_placeholder %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Повторите пароль", class: "control-label col-xs-3" %>
    <div class="col-xs-9">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, "Адрес", class: "control-label col-xs-3" %>
    <div class="col-xs-9">
      <%= f.text_area :address, class: "form-control", rows: 4 %>
    </div>
  </div>
  <%= content_tag :div, class: "col-xs-offset-3 #@user_class_submit" do %>
    <%= f.submit class: "btn btn-success btn-block", value: @submit_value %>
  <% end %>
<% end %>
