<div class="col-xs-12 col-md-3 col-sm-3">
  <%= image_tag avatar_url(@user), class: "img-responsive img-rounded" %>
</div>
<div class="col-xs-12 col-md-9 col-sm-9 border-none">
  <table class="table">
    <tr>
      <td>
        <strong>Имя:</strong>
      </td>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <% if current_user.admin? || current_user.manager? %>
      <tr>
        <td>
          <strong>Роль:</strong>
        </td>
        <td>
          <%= @user.role.humanize %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <strong>Email:</strong>
      </td>
      <td>
        <%= @user.email %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Телефон:</strong>
      </td>
      <td>
        <%= @user.phone %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Адрес:</strong>
      </td>
      <td>
        <%= @user.address %>
      </td>
    </tr>
  </table>
  <% if current_user == @user %>
    <%= link_to "Редактировать", edit_user_path(current_user), class: "btn btn-default pull-right" %>
  <% end %>
  <div class="clearfix"></div>
  <%= render "orders/list_orders" %>
</div>
