<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <% @order.errors.full_messages.each do |message| %>
            <div class="alert alert-danger alert-dismissible fade in" role=alert>
              <button type=button class=close data-dismiss=alert aria-label=Close>
                <span aria-hidden=true>&times;</span>
              </button>
              <%= message %>
            </div>
          <% end %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit class: "btn btn-success", value: "Оформить заказ" %>
    </div>
<% end %>
