<% if current_user == @user %>
  <h4>Мои заказы</h4>
<% else %>
  <h4>Заказы пользователя</h4>
<% end %>
<% if @orders.empty? %>
  <h5 class="text-mute">Заказов еще нет</h5>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-hover vertical-align">
      <thead>
        <tr>
          <th>#</th>
          <th>Статус выполнения</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <%= content_tag :tr,
            class: case order.status
            when "Новый"
              "warning"
            when "В обработке"
              "active"
            when "Завершен"
              "success"
            else "Отменен"
              "danger"
            end do %>
            <td><%= link_to order.id, order %></td>
            <td><%= order.status.humanize %></td>
            <td><%= order.created_at.strftime("%m-%e-%y %H:%M") %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
