<h1>Nosh-up</h1>
<table class="table">
  <tr>
    <td>
      Создать админку. Походу можно создать как отдельный котроллер, без модели, или с ней, модель Order. hm hm.
      Контроллер назвать orders_controller. Nice idea :D.
    </td>
  </tr>
  <tr>
    <td>
      Довести до ума профиль пользователя! Можно подключить граватар или хранить аватарки на амазоне.
      Кстати, надо же вконце концов научиться пользоваться aws-s3!
    </td>
  </tr>
  <tr>
    <td>НЕ ДЕЛАТЬ ЛОГИРОВАНИЕ! НУ ЕГО К ХРЕНАМ СОБАЧИМ!</td>
  </tr>
  <tr>
    <td>
      ПЕРСТАТИ ПИСАТИ ПО КАЦАПСЬКІ
    </td>
  </tr>
  <tr>
    <td>
      Можна добавить сайдбар, справа чи зліва.
    </td>
  </tr>
  <tr>
    <td>
      Пофіксить нотіфікейшин. Да і, загалом зробить нормальні алєрти, з флешами flash[:notice], tipa tak mabut'
    </td>
  </tr>
  <tr>
    <td>
      Зробить так, щоб найперший юзер реєструвався і ставав автоматично адміном, а всі інші плебеї ні.
      Плюс добавить кнопку адмінську, типу: зробити цього дибіла адміном, видна тільки ж адміну, ок. Спать...
    </td>
  </tr>
  <tr>
    <td>
      Закрить доступ до перегляду сторінок інших юзерів
    </td>
  </tr>
</table>
