<h2>Продукты</h2>
<%= link_to 'Новый продукт', new_admin_product_path, class: "btn btn-default btn-sm new-item-button" %>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align">
    <thead>
      <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Фото</th>
        <th>Категория</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.title, [:admin, product] %></td>
          <td><%= number_to_currency(product.price, unit: "₴") %></td>
          <td><%= image_tag product.image_url(:small) if product.image? %></td>
          <td><%= product.category.title %></td>
          <td>
            <%= link_to edit_admin_product_path(product) do %>
              <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <%= link_to [:admin, product], method: :delete, data: { confirm: 'Вы уверены?' } do %>
              <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
