/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";
  @import "dashboard";
  @import "nav-menu";

  html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y:scroll;
  }
  body {
    padding-top: 50px;
    background-color: #FBFBFB;
    margin-bottom: 90px;
  }
  #footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: #f5f5f5;
    p{
      margin-top: 23px;
    }
  }

  footer{
    padding-top: 30px;
    clear: both;
  }

  .new-item-button{
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 0px;
  }

  .vertical-align{
    td{
      vertical-align: middle !important;
    }
  }

  .borderless td, .borderless th {
    border: none !important;
  }

  .comment-block{
    padding: 10px;
    border-bottom: 1px dashed #D4D4D4;

    &:hover{
      background-color: #F7F7F7;
      border-radius: 5px;
      border: 0;
      padding-bottom: 11px;
    }
  }

  .border-none td{
    border: none !important;
  }

  .container-padding-top{
    padding-top: 20px;
  }

  .paginate{
    margin: 0 auto;
    display: table;
  }

  ul#results{
    position: absolute;
    background-color: #FFF;
    z-index: 999;
    list-style: outside none none;
    padding: 10px 12px;
    border: 1px solid #DADADA;
    margin-top: -3px;
    width: 196px;
    display: none;
    border-top: 0;
    border-radius: 0px 0px 8px 8px;
  li{
    line-height: 1.5;
    font-size: 95%;
    padding: 8px 0;
    border-bottom: 1px solid #F6F6F6;
    &:last-child{
      border-bottom: none;
    }
    a{
      color: #000;
      &:hover{
        color: #337ab7;
      }
    }
  }
}
