<h2>Пользователи</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Дата регистрации</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td>
            <%= user.role.humanize %>
            <%= link_to "изменить",  '#', "data-target": "#modal_role_#{user.id}", "data-toggle": "modal"  %>

            <div id='<%= "modal_role_#{user.id}" %>'class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Смена роли пользователя: <%= user.name %></h4>
                  </div>
                  <div class="modal-body">
                    <%= render "form", user: user %>
                  </div>
                </div>
              </div>
            </div>

          </td>
          <td><%= user.created_at.strftime("%m-%e-%y %H:%M") %></td>
          <td>
            <%= link_to [:admin, user], method: :delete, data: { confirm: 'Вы уверены?' } do %>
              <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
