<% if @category.present? %>
  <h2 class="text-warning"><%= @category.title %></h2>
<% else %>
  <h2 class="text-warning">Все продукты</h2>
<% end %>

<%= render @products %>
<div class="clearfix"></div>
<div class="paginate">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
