<div class="col-xs-4">
  <%= image_tag @product.image_url(:middle), class: "img-responsive" if @product.image? %>
</div>
<div class="col-xs-8">
  <h4><%= @product.title %></h4>
  <p><%= link_to @product.category.title, admin_categories_path, class: "text-right" %></p>
  <p class="text-muted"><%= @product.description %></p>
  <h4 class="text-danger text-right"><%= number_to_currency(@product.price, unit: "₴") %></h4>
  <p><%= button_to 'Купить', line_items_path(product_id: @product), class: 'btn btn-success btn-block' %></p>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
  <% if @product.comments.present? %>
    <h4>Комментарии к блюду</h4>
  <% else %>
    <h4>Комментариев еще нет</h4>
  <% end %>
  <ul class="media-list">
    <%= render @product.comments %>
  </ul>
  <%= render "comments/form" %>
</div>
