<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Nosh-up", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <%= content_tag :li, class: current_page?(root_path) ? "active" : "" do %>
          <%= link_to "Домашня", root_path %>
        <% end %>
        <%= content_tag :li, class: current_page?(cart_path) ? "active" : "" do %>
          <%= link_to cart_path do %>
            Корзина
            <span class="badge"><%= @line_items_count %></span>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <%= form_tag(products_path, method: "GET", class: "navbar-form navbar-left") do %>
          <div class="form-group">
            <%= text_field_tag(:query, (params[:query].present? ? params[:query] : nil),
                               class: 'form-control',
                               placeholder: 'Поиск продуктов...',
                               autocomplete: 'off') %>
            <ul id="results"></ul>
          </div>
        <% end %>

        <% if current_user %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.admin? || current_user.manager? %>
                <li><%= link_to 'Админ-панель', admin_path %></li>
              <% end %>
              <li><%= link_to 'Профиль', user_path(current_user) %></li>
              <li><%= link_to 'Редактировать', edit_user_path(current_user) %></li>
              <li><%= link_to "Выход", session_path(session), method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <%= content_tag :li, class: current_page?(new_session_path) ? "active" : "" do %>
            <%= link_to "Вход", new_session_path %>
          <% end %>
          <%= content_tag :li, class: current_page?(new_user_path) ? "active" : "" do %>
            <%= link_to "Регистрация", new_user_path %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
