<!DOCTYPE html>
<html>
<head>
  <title>NoshUp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/top_menu" %>
  <div class="container">
    <%= render "layouts/nav_menu" %>
    <%= flash_messages %>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
